button {
    width: 200px;
    margin: 0;
    height: 42px;
}

form {
    margin: 0
}

input {
    width: 200px;
    height: 42px;
    padding: 0px;
    border: 0px;
    border-radius: 8px;
}

.button-div {
    display: grid;
    grid-template-areas:
        "newgame newgame"
        "txtinp joingame";
}


.button-join {
    grid-area: joingame;
}

.button-newgame {
    grid-area: newgame;
}

.input-gameId {
    grid-area: txtinp;
}