.board {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    row-gap: 50px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #f3d970;
    transform: rotate(180deg);
}

.top-container {
    display: flex;
}

.bottom-container {
    display: flex;
    flex-direction: row-reverse;
}

.point {
    position: relative;
    display: flex;
    align-items: center;
    width: 100px;
    height: 300px;
    overflow: hidden;
}

.point::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 300px 50px;
    z-index: -1;
}

.top-point {
    flex-direction: column-reverse;
    transform: rotate(180deg);
}

.bottom-point {
    flex-direction: column-reverse;
    transform: rotate(0deg);
}

.light::before {
    border-color: transparent transparent #3de1fa transparent;
}

.dark::before {
    border-color: transparent transparent #105de1 transparent;
}

.checker {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 1;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.active {
    border: 5px solid red;
}